.sec4{
    margin-top: 4rem;
    margin-bottom: -8rem;
}
.graphElementSec4{
    width: 100%;
}

.tile-Sec4{
    padding-left: 3rem;
}

@media (max-width: 768px) {
 .graphElementSec4{
    margin-top: 2rem;
    width: 20rem;
}   
.tile-Sec4{
    padding-left: 0;
}
}