.sec1 {
  background-image: url("../../assets/gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85dvh;
}

.perfil_img {
  max-height: 12rem;
  border-radius: 4rem;
}

.icon-click {
  position: absolute;
  right: 12rem;
  top: 24rem;
}

@media (max-width:768px) {
  
.perfil_img {
  max-height: 8rem;
  margin-bottom: 2rem;
}

.icon-click {
  right: 2.5rem;
  top: 36rem;
}
}
